*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Jost;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
    font-family: Jost-Italic;
    src: url(fonts/Jost-Italic-VariableFont_wght.ttf);
}
body {
    color: #fff;
    font: 400 14px Jost, Jost-Italic;
    background-image: url(img/main12_bg.png);
}
a {
    color: #fff !important;
    text-decoration: none !important;
}
img {
    max-width: 100%;
}
ul, li {
    list-style-type: none;
}
.container {
    max-width: 60vw !important;
    margin: 0 auto !important;
    padding: 0;
}
.shadow {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    display: flex;
    align-items: center;
}
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px;
}
.header-nav-item {
    display: inline-block;
    margin-right: 25px;
}
.header-nav-item:last-child {
    margin-right: 0;
}
.header-carousel {
    padding-bottom: 30px;
}
.carousel-item {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.header-carousel-indicators {
    padding-bottom: 30px;
}
.main1 {
    background-color: #fff;
}
.main1-text span {
    font-weight: bold;
    background-color: #fbd42c;
    padding: 2px 5px;
}
.main1-text h1 {
    color: #808080;
}
.main1-text {
    color: #000;
    margin: auto;
}
.main1-carousel {
    width: 40%;
}
.main1-carousel-item {
    max-width: 100%;
    height: 450px;
}
.main2 {
    position: relative;
    padding: 30px 0;
}
.main2-text {
    color: #000;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fbd42c;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: auto;
}
.main2-img {
    display: flex;
    position: static;
}
.main2-1 {
    width: 50%;
}
.main2-2 {
    width: 50%;
}
.main3-bg {
    background: url(img/main3_bg.jpg) no-repeat;
    background-size: 100%;
}
.main3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.main3-block-left {
    width: 50%;
    text-transform: uppercase;
    padding: 0 35px;
}
.main3-block-left h1 {
    font-size: 50px;
}
.main3-block-right {
    width: 50%;
    padding: 0 35px;
}
.main3-block-right p {
    display: block;
}
.main4-bg {
    background-color: #fff;
}
.main4-container {
    padding: 50px 30px;
}
.main4-h1 {
    color: #93a2ad;
}
.main4-form {
    margin-top: 25px;
}
.main4-form label {
    color: #000;
}
.main4-form-col {
    display: inline-block;
}
.main4-form-input {
    background-color: #e8eaec;
    border-width: 0;
    padding: 5px;
    margin-right: 10px;
}
.main4-form-sbmt {
    background-color: #fbd42c;
    text-transform: uppercase;
    padding: 5px 20px;
    margin-top: 10px;
    border-width: 0;
    width: 120px;
    height: 40px;
}
.footer-bg {
    background-color: #000;
    background-size: 100%;
}
.footer-header {
    padding: 35px 30px;
}
.footer-logo {
    display: flex;
    margin: 0 auto;
}
.footer-nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 0;
}
.footer-blocks {
    display: flex;
    margin: 20px 0;
    padding-top: 35px;
}
.footer-blocks-item {
    display: block;
    margin: o auto;
    justify-content: center;
    align-items: center;
}
.footer-contacts {
    padding-left: 55px;
}
.footer-contacts h4 {
    color: #fbd42c;
}
.footer-contacts ul {
    padding-inline-start: 0;
}
.footer-contacts li::before {
    content: '- ';
    font-weight: bold;
    color: #fbd42c;
}
.footer-contacts-text {
    font-size: 12px;
}
.footer-contacts-tel {
    font-size: 12px;
}